@model TestePraticoDev.ViewModels.PedidoViewModel

@{
    Layout = "_Layout";
}

<head>

    <title>
        Alteração
    </title>

</head>

<body>
    <div>
        <h3> Alterar Pedido </h3>
    </div>


    @using (Html.BeginForm("Edit", "Pedido", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.Id)

        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.NomeCliente, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.NomeCliente, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NomeCliente, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Data, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Data, new { htmlAttributes = new { @class = "form-control", @placeholder = "dd/MM/yyyy" } })
                    @Html.ValidationMessageFor(model => model.Data, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ValorTotal, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.ValorTotal, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ValorTotal, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" onclick="location.href='@Url.Action("Update", "Pedido")'" class="btn btn-default"> Salvar </button>
                </div>
            </div>
        </div>
    }
</body>

<div>
    @Html.ActionLink("Voltar a página principal", "Index")
</div>

